html, body {
    margin: 0;
    padding: 0;
}
  
body {
    max-width: 1224px;
    margin: 0 auto;
    background-color: rgba(68, 65, 65, 0.983);
}

img {
    margin-top: 0px;
    width: 95vw;
    height: 92vh;
    object-fit: none;
    margin: 5px;
}

picture {
    display:flex;
    justify-content: center;
}

